@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: visible;
  overflow-x: hidden;
  max-width: 100vw;
  max-height: auto;
}
@media screen and (max-width: 500px) {
  * {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}
@media screen and (max-width: 800px) {
  * {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}
@media screen and (max-width: 1200px) {
  * {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}

:root {
  --mywhite:white;
  --mybg:rgba(100, 70, 80, 0.7);
  --myfont:20px;
  --mymargin: auto 20px;
}

body {
  background: gray;
  width: 100vw;
}

.contact-form {
  max-width: 100%;
  height: auto;
  width: 80%;
  margin: 10px auto;
}
.contact-form h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
  color: coral;
  font-weight: bold;
}
.contact-form p {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

.form-container {
  background: linear-gradient(to bottom, var(--mybg), aliceblue, green, lightblue);
  max-width: 100vw;
  width: 80%;
  height: 90%;
  display: grid;
  place-content: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .form-container {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
.form-container form {
  background-color: rgba(0, 0, 0, 0.841);
  width: 100%;
  padding: 50px 100px;
  height: auto;
}
@media screen and (max-width: 540px) {
  .form-container form {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
.form-container form label {
  text-transform: uppercase;
  color: aqua;
  font-size: 16px;
  font-variant: small-caps;
}
.form-container form i {
  position: relative;
  left: 0;
  margin-left: -20%;
  top: 40px;
  text-align: justify;
}
.form-container form input {
  margin: 5px auto;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
}
@media screen and (max-width: 540px) {
  .form-container form input {
    width: 100%;
    height: auto;
    margin: 5px auto;
    font-size: 15px;
  }
}
.form-container form input:focus-visible {
  background-color: coral;
}
.form-container form #female, .form-container form #male {
  width: auto;
}
.form-container form select {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
}
@media screen and (max-width: 540px) {
  .form-container form select {
    width: 100%;
    height: auto;
    margin: auto;
    font-size: 15px;
  }
}
.form-container form textarea {
  margin-top: 10px;
  border: none;
  outline: none;
  font-size: 20px;
}
.form-container form textarea:focus-within {
  background-color: antiquewhite;
  color: orangered;
}
@media screen and (max-width: 540px) {
  .form-container form textarea {
    width: 100%;
    height: auto;
    margin: auto;
    font-size: 20px;
  }
}
.form-container form #submit {
  padding: 10px 20px;
  background-color: crimson;
  float: right;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}
.form-container form #submit:hover {
  background-color: aqua;
  transition: all 0.4s;
  cursor: pointer;
}
@media screen and (max-width: 540px) {
  .form-container form #submit {
    font-size: 15px;
    padding: 5px 5px;
  }
}
.form-container form #reset {
  padding: 10px 20px;
  background-color: grey;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}
.form-container form #reset:hover {
  background-color: rosybrown;
  transition: all 0.4s;
  cursor: pointer;
}
@media screen and (max-width: 540px) {
  .form-container form #reset {
    font-size: 15px;
    padding: 5px 5px;
  }
}

#myfooter {
  text-align: center;
  font-size: 14px;
  margin: 20px auto;
  padding-top: 40px;
  color: darkslategrey;
  font-weight: bold;
  background: whitesmoke;
  max-width: 100vw;
  height: 15vh;
  margin-bottom: 0;
}
@media screen and (max-width: 540px) {
  #myfooter {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding-top: 10px;
    margin: auto;
  }
}
#myfooter P {
  margin: auto 10px;
  padding: auto 10px;
}/*# sourceMappingURL=cont.css.map */